<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a01378359.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity" />
        <activity android:name=".main.SecondActivity" />
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".anim.AnimMainActivity" />
        <activity android:name=".anim.TweenAnimActivity" />
        <activity android:name=".anim.FrameAnimActivity" />
        <activity android:name=".lock.LockTestActivity" />
        <activity android:name=".anim.ObjectAnimatorActivity" />
        <activity android:name=".materialdesign.MaterialDesignAnimationActivity" />
        <activity android:name=".materialdesign.TouchFeedbackActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".memory.MemoryActivity" />
        <activity android:name=".eventbus.EventBusMainActivity" />
        <activity android:name=".eventbus.SubscriberEventActivity"></activity>
    </application>

</manifest>